# Ignore everything
*
# Don't ignore directories, so we can recurse into them
!*/
!.gitignore
!fish/*
!i3/*
!kitty/*
!nitrogen/*
!nvim/*
!nvim/*/*
!nvim/*/*/*
!nvim/*/*/*/*
!oh-my-posh/*
!polybar/*
!startup/*
!tmux/*
!tree-sitter/*
